[submodule "vendor/evil-org-mode"]
	path = vendor/evil-org-mode
	url = https://github.com/arnm/evil-org-mode.git
[submodule "vendor/tern"]
	path = vendor/tern
	url = https://github.com/marijnh/tern.git
